<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7AmR3oCOCuKNNQQa5aK6l27ddJsqOT8o</string>
	<key>GCM_SENDER_ID</key>
	<string>55094983738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abraar.purrfectmatch</string>
	<key>PROJECT_ID</key>
	<string>purrfect-match-62037</string>
	<key>STORAGE_BUCKET</key>
	<string>purrfect-match-62037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55094983738:ios:24ec387cf2c58729870903</string>
</dict>
</plist>